<div class="col-xs-12 col-sm-4">
  <div class="card" style="width: 18rem;">
    <img src="{{ feed.image }}" class="card-img-top" alt="{{ feed.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ feed.title }}</h5>
      <p class="card-text">
        {{ feed.body[:150] ~ '...' }}
        <br>
        <br>

        <i class="fas fa-user fz-12"></i>
        <span class="text-capitalize">{{ feed.publisher|lower }}</span> <br>
        <i class="fas fa-link fz-12"></i>
        <a href="{{ feed.source }}" target="_blank">Link to source</a>
      </p>
      <a href="{{ path('feed_view', {id: feed.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i> View</a>
    </div>
  </div>
</div>