{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>{{ feed.title }}</h1>

    <img class="mt-5 mb-5" src="{{ feed.image }}" alt="{{ feed.title }}">

    <section class="mb-5">
      {{ feed.body | nl2br | raw  }}
    </section>

    <p>
      <b>Publisher:</b> <span class="text-capitalize">{{ feed.publisher|lower }}</span> <br>
      <b>Source:</b> <a href="{{ feed.source }}" target="_blank">{{ feed.source }}</a>
    </p>


    <a href="{{ path('feed_edit', {id: feed.id}) }}" class="btn-primary btn">Edit</a>

  </div>
{% endblock %}
